<h1>Welcome!</h1> 

<a target="_blank" href="/images/eleanor_bludsturm_large.png"><img style="float: right; margin: 0 0 1em 1em;" src="/images/eleanor_bludsturm.png"/></a>

<p>
This is the Lair of Lith application site, 
where you can generate cards as well as save them 
if you create an account. 
</p>

<p>
Currently we can generate character cards, as well 
as implementing the official algorithms so that you 
can interactively balance your characters. 
</p>

<p>
<strong>Note:</strong> We support rendering portraits 
but do not support uploading them. Thus you can always 
choose a portrait to go with a card when you generate 
it, even if you don't own the card---you won't be changing 
the underlying card data itself.
</p>

<p>
Any feedback, bug reports, and feature requests can be 
made to <a href="http://boardgamegeek.com/article/13107069">this BGG Thread</a> or privately via our <a href="/contact">contact form</a>.
</p>

<h2>Popular Tags</h2>
<% @popular_tags.each do |tag| %>
  <span class="tag"><%= link_to "#{tag.name} (#{tag.count})", tag_path(tag.name) %></span>
<% end %>

<h2>Characters Recently Made Ready for Comments</h2>
<ul>
  <% @characters_for_comment.each do |c| %>
    <li>
    <%= link_to c.name, character_path(c.user, c), class: "character-#{c.status}"  %>
    by <%= link_to c.user.name, user_path(c.user) %>
    last updated <%= c.updated_at %>
    </li>
  <% end %>
</ul>

<h2>Recently Created Characters</h2> 
<ul>
  <% @characters.each do |c| %>
    <li>
    <%= link_to c.name, character_path(c.user, c), class: "character-#{c.status}" %>
    by <%= link_to c.user.name, user_path(c.user) %>
    on <%= c.created_at %>
    </li>
  <% end %>
</ul>
<p><%= link_to "See all #{@character_total} characters", characters_path %></p>
