<% @title = "#{@character.name} by #{@owner.name}" %>

<script>

$(document).ready(function() {
    var csv = "<%=raw @newest_version.csv_to_js %>";
    $("#card-generator").DOA2_Image_Generator({
          closeLink: false,
          character: DOA2_Text.csvToCharacter(csv),
          imageWidth: 400,
    });

    $("#generate-card").click(function() {
        $("#card-generator").show();
        $("#card-generator").data('DOA2_Image_Generator').generateCard();
    });

    $("#show-versions").click(function(e) {
        e.preventDefault();
        var vlist = $("#version-list");
        if (vlist.is(':visible')) {
            vlist.slideUp();
            $(this).html('see all versions');
        }
        else {
            vlist.slideDown();
            $(this).html('collapse all versions');
        }
    });

<% if @current_user_is_owner %>
    $("#edit-bgg-thread-id").click(function(e) {
        e.preventDefault();
        $("#form-bgg-thread-id").show();
        $("#bgg-thread-id").hide();
        $("#edit-bgg-thread-id").hide();
    });
    $("#cancel-bgg-thread-id-update").click(function(e) {
        e.preventDefault();
        $("#form-bgg-thread-id").hide();
        $("#bgg-thread-id").show();
        $("#edit-bgg-thread-id").show();
    });

    $("#edit-status").click(function(e) {
        e.preventDefault();
        $("#form-status").show();
        $("#status").hide();
        $("#edit-status").hide();
    });
    $("#cancel-status-update").click(function(e) {
        e.preventDefault();
        $("#form-status").hide();
        $("#status").show();
        $("#edit-status").show();
    });

    $("#edit-tags").click(function(e) {
        e.preventDefault();
        $("#form-tags").show();
        $("#tags").hide();
        $("#edit-tags").hide();
    });
    $("#cancel-tags-update").click(function(e) {
        e.preventDefault();
        $("#form-tags").hide();
        $("#tags").show();
        $("#edit-tags").show();
    });

    $("#description-text-area").markItUp(MarkItUp.settings);

    $("#edit-description").click(function(e) {
        e.preventDefault();
        $("#form-description").show();
        $("#description, #edit-description").hide();
    });
    $("#cancel-description-update").click(function(e) {
        e.preventDefault();
        $("#form-description").hide();
        $("#description, #edit-description").show();
    });
<% end %>
});

</script>

<h1><%= @character.name %></h1>
<p>by <%= link_to @owner.name, user_path(@owner) %></p>
<% if @character.status == 'REVIEW' %><p><a href="#comments">Go to comments</a></p><% end %>

<h2>Status</h2> 
<% if @current_user_is_owner %>
  <%= form_for(@character, url: character_save_data_path(current_user, @character),
                           remote: true,
                           html: { id: 'form-status', style: 'display: none;' }) do |f| %>
    <%= select_tag(:status, options_for_select(@character.options_for_select, @character.status),
                   id: 'select-status', name: 'character[status]')  %> 
    <%= f.submit 'Update' %>
    <button id="cancel-status-update">Cancel</button>
  <% end %>
<% end %>
<p>
<span id="status" class="status-<%= @character.status %>"><%= @character.full_status_name %></span>
<% if @current_user_is_owner %><a id="edit-status" href="#">edit</a><% end %></p>

<h2>Tags</h2> 
<% if @current_user_is_owner %>
  <%= form_for(@character, url: character_save_data_path(current_user, @character), 
                           remote: true,
                           html: { id: 'form-tags', style: 'display: none;' }) do |f| %>
    Tags separated by commas: <%= f.text_field :tag_list %>
    <%= f.submit 'Update' %>
    <button id="cancel-tags-update">Cancel</button>
  <% end %>
<% end %>
<div id="tags" style="margin-bottom: 0.5em;">
  <% if !@character.tags || @character.tags.empty? %>
    <em>No tags.</em>
  <% else %>
    <% @character.tags.each do |tag| %>
      <span class="tag"><%= link_to tag.name, tag_path(tag.name) %></span>
    <% end %>
  <% end %>
</div>
<p><% if @current_user_is_owner %><a id="edit-tags" href="#">edit</a><% end %></p>

<h2>Description</h2>
<% if @current_user_is_owner %>
  <%= form_for(@character, url: character_save_data_path(current_user, @character),
                           remote: true,
                           html: { id: 'form-description', style: 'display: none;' }) do |f| %>
    <%= f.text_area :description, cols: 40, rows: 20, id: 'description-text-area' %>
    <br />
    <%= f.submit %> <button id="cancel-description-update">Cancel</button>
  <% end %>
<% end %>
<div class="card-html" id="description">
  <% if @character.description %> 
    <%= @character.description_as_html.html_safe %>
  <% else %>
    <em>No description.</em>
  <% end %>
</div>
<% if @current_user_is_owner %><p><a id="edit-description" href="#">edit</a></p><% end %>

<h2>Links</h2> 
<% if @current_user_is_owner %>
  <%= form_for(@character, url: character_save_data_path(current_user, @character), 
                           remote: true,
                           html: { id: 'form-bgg-thread-id', style: 'display: none;' }) do |f| %>
    BoardGameGeek article id: <%= f.text_field :bgg_thread_id %>
    <%= f.submit 'Update' %>
    <button id="cancel-bgg-thread-id-update">Cancel</button>
  <% end %>
<% end %>
<p>
<span id="bgg-thread-id"><%= @character.bgg_thread_link.html_safe %></span>
<% if @current_user_is_owner %><a id="edit-bgg-thread-id" href="#">edit</a><% end %>
</p>

<h2>Current Version is <%= @newest_version.version %></h2>

<p><%= link_to 'Open latest version in generator', character_generate_path(@owner, @character, @newest_version.version) %></p> 

<ul id="version-list" style="display: none;">
<% @versions.each do |version| %>
  <li>
  <%= link_to "Version #{version.version}", character_generate_path(@owner, @character, version.version) %>
  <%= version.created_at %>
  </li>
<% end %>
</ul>
<p><a id="show-versions" href="#">see all versions</a></p>

<h2>Current Card Image</h2>

<button id="generate-card">Generate</button> <br />
<div id="card-generator" style="width: 40em; display: none;"></div>
<div style="clear: both; height: 1em;"> </div>

<h2>Current Card Text</h2>
<div class="card-html">
  <p>
    <strong><%= @csv[:name] %></strong><br />
    <em><%= @csv[:title] %></em><br />
    <%= @csv[:age] %> / <%= @csv[:setting] %> / <%= @csv[:circle] %> / <%= @csv[:nature] %>
  </p>

  <p>
  <% CharactersHelper::DOA2_STATS.each do |stat| %>
    <%= @csv[stat] %> <%= stat %><br />
  <% end %>
  </p>

  <% if [:single, :area].member? @csv[:rangedWeapon][:area] %>
  <p>
    <strong>Ranged Weapon</strong><br />
    <%= @csv[:rangedWeapon][:power] %> Power<br />
    <%= @csv[:rangedWeapon][:damage] %> Damage<br />
    <%= @csv[:rangedWeapon][:rangeMax] %> RangeMax<br />
    <%= @csv[:rangedWeapon][:rangeMin] %> RangeMin<br />
    <%= @csv[:rangedWeapon][:area] %>
  </p>
  <% end %>

  <% 
     card_info = []
     @csv[:cards][:common] ? card_info.push("#{@csv[:cards][:common]} common") : '' 
     @csv[:cards][:secret] ? card_info.push("#{@csv[:cards][:secret]} secret") : '' 
     @csv[:cards][:elite] ? card_info.push("#{@csv[:cards][:elite]} elite") : '' 
     @csv[:cards][:henchmen] ? card_info.push("#{@csv[:cards][:henchmen]} henchmen") : '' 
     @csv[:cards][:noGive] ? card_info.push('No give cards') : '' 
     @csv[:cards][:noTrade] ? card_info.push('No trade cards') : '' 
     @csv[:cards][:noLimit] ? card_info.push('No card limit') : '' 
  %>
  <% if card_info %>
    <p>
    <strong>Cards</strong><br />
    <%= card_info.join(', ') %>
    </p>
  <% end %>

  <%
    bonuses = []
    bonuses += @csv[:bonuses][:ranged]
    bonuses += @csv[:bonuses][:melee]
    bonuses += @csv[:bonuses][:other]
    @csv[:bonuses][:stealth] ? bonuses.push(:Stealth) : ''
    @csv[:bonuses][:medical] ? bonuses.push(:Medical) : ''
    @csv[:bonuses][:armor] ? bonuses.push(:Armor) : ''
  %>
  <% if bonuses %>
    <p>
    <strong>Bonuses</strong><br />
    <%= bonuses.join(', ') %>
    </p>
  <% end %>

  <p><strong>Special Abilities</strong></p>

  <% @csv[:specials].each do |special| %>
    <% 
      values = []
      special[:value][:survival] != 0  ? values.push("#{special[:value][:survival]} survival") : ''
      special[:value][:ranged] != 0    ? values.push("#{special[:value][:ranged]} ranged") : ''
      special[:value][:melee] != 0     ? values.push("#{special[:value][:melee]} melee") : ''
      special[:value][:adventure] != 0 ? values.push("#{special[:value][:adventure]} adventure") : ''
    %>
    <% if special[:description] %>
      <p>
      <%= special[:description] %> (<%= values.join(', ') %>)
      </p>
    <% end %>
  <% end %>

  <p><strong>Value Breakdown:</strong></p>
  <p>
  <strong>Survival</strong>: <%= @value[:survival] %><br />
  <strong>Ranged</strong>: <%= @value[:ranged] %><br />
  <strong>Melee</strong>: <%= @value[:melee] %><br />
  <strong>Adventure</strong>: <%= @value[:adventure] %><br />
  <strong>TOTAL</strong>: <%= @value[:total] %><br />
  </p>

</div>

<% if @character.status == 'REVIEW' %>

<a id="comments"></a>
<script>
  var idcomments_acct = '39d669a1a66e25021389ef8cc06145af';
  var idcomments_post_id = "character-<%= @character.id %><%=j Rails.env.development? ? '-development' : '' %>";
  var idcomments_post_url = "<%=j request.protocol %><%=j request.host_with_port %><%=j character_path(@owner, @character) %><%=j Rails.env.development? ? '-development' : '' %>";
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

<%= render 'shared/intense_debate_guide' %>

<% end %>

<br /> <br /> <br />
<br /> <br /> <br />
<br /> <br /> <br />
<br /> <br /> <br />
<br /> <br /> <br />
<br /> <br /> <br />

<% if @current_user_is_owner %>
  <h2>Destroy?</h2> 

  <p>This action is irrevocable.</p>

  <p><%= link_to 'Destroy', url_for(controller: 'characters', action: 'destroy', id: @character.id), method: 'delete', data: { confirm: 'Do you really want to do this?' } %></p>
<% end %>
