<% @title = "#{@character.name} by #{@owner.name}" %>

<script>

$(document).ready(function() {
    var csv = "<%=raw @newest_version.csv.gsub('"', "\\\"").strip %>";
    $("#card-generator").DOA2_Image_Generator({
          closeLink: false,
          character: DOA2_Text.csvToCharacter(csv),
          imageWidth: 400,
    });

    $("#generate-card").click(function() {
        $("#card-generator").toggle(true);
        $("#card-generator").data('DOA2_Image_Generator').generateCard();
    });

    $("#show-versions").click(function(e) {
        e.preventDefault();
        var vlist = $("#version-list");
        if (vlist.is(':visible')) {
            vlist.slideUp();
            $(this).html('see all versions');
        }
        else {
            vlist.slideDown();
            $(this).html('collapse all versions');
        }
    });

    $("#edit-bgg-thread-id").click(function(e) {
        e.preventDefault();
        $("#form-bgg-thread-id").toggle(true);
        $("#bgg-thread-id").toggle(false);
    });
    $("#cancel-bgg-thread-id-update").click(function(e) {
        e.preventDefault();
        $("#form-bgg-thread-id").toggle(false);
        $("#bgg-thread-id").toggle(true);
    });
});

</script>

<h2><%= @character.name %></h2>
<p>by <%= link_to @owner.name, user_path(@owner) %></p>

<h3>Links</h3> 
<p>
<%= form_for(@character, url: character_save_data_path(current_user, @character), 
                         html: { id: 'form-bgg-thread-id', style: 'display: none;' }) do |f| %>
  BoardGameGeek thread id: <%= f.text_field :bgg_thread_id %>
  <%= f.submit 'Update' %>
  <button id="cancel-bgg-thread-id-update">Cancel</button>
<% end %>
<span id="bgg-thread-id"><%= @character.bgg_thread_link.html_safe %>
<% if @is_myself %><a id="edit-bgg-thread-id" href="#">edit</a><% end %></span>
</p>

<h3>Current Version is <%= @newest_version.version %></h3>

<p><%= link_to 'Open latest version in generator', character_generate_path(@owner, @character, @newest_version.version) %></p> 

<ul id="version-list" style="display: none;">
<% @versions.each do |version| %>
  <li>
  <%= link_to "Version #{version.version}", character_generate_path(@owner, @character, version.version) %>
  <%= version.created_at %>
  </li>
<% end %>
</ul>
<p><a id="show-versions" href="#">see all versions</a></p>

<h3>Current Card Image</h3>

<button id="generate-card">Generate</button> <br />
<div id="card-generator" style="width: 40em; display: none;"></div>
<div style="clear: both; height: 1em;"> </div>

<h3>Current Card Text</h3>
<div class="card-html">
  <p>
    <strong><%= @csv['name'] %></strong><br />
    <em><%= @csv['title'] %></em><br />
    <%= @csv['age'] %> / <%= @csv['setting'] %> / <%= @csv['circle'] %> / <%= @csv['nature'] %>
  </p>

  <p>
  <% CharactersHelper::DOA2_STATS.each do |stat| %>
    <%= @csv[stat] %> <%= stat %><br />
  <% end %>
  </p>

  <% if ['single', 'area'].member? @csv['rangedWeapon']['area'] %>
  <p>
    <strong>Ranged Weapon</strong><br />
    <%= @csv['rangedWeapon']['power'] %> Power<br />
    <%= @csv['rangedWeapon']['damage'] %> Damage<br />
    <%= @csv['rangedWeapon']['rangeMax'] %> RangeMax<br />
    <%= @csv['rangedWeapon']['rangeMin'] %> RangeMin<br />
    <%= @csv['rangedWeapon']['area'] %>
  </p>
  <% end %>

  <% 
     card_info = []
     @csv['cards']['common'] ? card_info.push("#{@csv['cards']['common']} common") : '' 
     @csv['cards']['secret'] ? card_info.push("#{@csv['cards']['secret']} secret") : '' 
     @csv['cards']['elite'] ? card_info.push("#{@csv['cards']['elite']} elite") : '' 
     @csv['cards']['henchmen'] ? card_info.push("#{@csv['cards']['henchmen']} henchmen") : '' 
     @csv['cards']['noGive'] ? card_info.push('No give cards') : '' 
     @csv['cards']['noTrade'] ? card_info.push('No trade cards') : '' 
     @csv['cards']['noLimit'] ? card_info.push('No card limit') : '' 
  %>
  <% if card_info %>
    <p>
    <strong>Cards</strong><br />
    <%= card_info.join(', ') %>
    </p>
  <% end %>

  <%
    bonuses = []
    bonuses += @csv['bonuses']['ranged']
    bonuses += @csv['bonuses']['melee']
    bonuses += @csv['bonuses']['other']
    @csv['bonuses']['stealth'] ? bonuses.push('Stealth') : ''
    @csv['bonuses']['medical'] ? bonuses.push('Medical') : ''
    @csv['bonuses']['armor'] ? bonuses.push('Armor') : ''
  %>
  <% if bonuses %>
    <p>
    <strong>Bonuses</strong><br />
    <%= bonuses.join(', ') %>
    </p>
  <% end %>

  <p><strong>Special Abilities</strong></p>

  <% @csv['specials'].each do |special| %>
    <% 
      values = []
      special['value']['survival'] != 0  ? values.push("#{special['value']['survival']} survival") : ''
      special['value']['ranged'] != 0    ? values.push("#{special['value']['ranged']} ranged") : ''
      special['value']['melee'] != 0     ? values.push("#{special['value']['melee']} melee") : ''
      special['value']['adventure'] != 0 ? values.push("#{special['value']['adventure']} adventure") : ''
    %>
    <% if special['description'] %>
      <p>
      <%= special['description'] %> (<%= values.join(', ') %>)
      </p>
    <% end %>
  <% end %>

</div>

<br /> <br /> <br />
<br /> <br /> <br />

<% if user_signed_in? && @owner.id == current_user.id %>
  <h3>Destroy?</h3> 

  <p>This action is irrevocable.</p>

  <p><%= link_to 'Destroy', url_for(controller: 'characters', action: 'destroy', id: @character.id), method: 'delete', data: { confirm: 'Do you really want to do this?' } %></p>
<% end %>
