<% @title = "#{@character.name} by #{@owner.name}" %>
<h2><%= @character.name %></h2>
<p>by <%= @owner.name %></p>

<h3>Versions</h3>
<ul>
<% @versions.each do |version| %>
  <li>
    <%= link_to "Version #{version.version}", 
    controller: 'characters', action: 'edit', id: @character.id, vid: version.id %>
    <%= version.created_at %>
  </li>
<% end %>
</ul>

<br /> <br /> <br />
<br /> <br /> <br />

<% if user_signed_in? && @owner.id == current_user.id %>
  <h3>Destroy?</h3> 

  <p>This action is irrevocable.</p>

  <p><%= link_to 'Destroy', url_for(controller: 'characters', action: 'destroy', id: @character.id), method: 'delete', confirm: 'Do you really want to do this?'  %></p>
<% end %>
