<div id="sidebar">
  <div class="section">
    <span class="title">General</span>
    <ul>
      <li><%= link_to 'Cards by Tags', all_tags_path %></li>
    </ul>

    <span class="title">Characters</span>
    <ul>
      <li><%= link_to 'New Card', character_new_path %></li>
      <li><%= link_to 'All Cards', characters_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'My Cards', user_path(current_user) %></li>
      <% end %>
      <li><%= link_to 'Help', character_help_path %>
      <ul>
        <li><%= link_to 'Design Guide', character_guide_path %></li>
        <li><%= link_to 'Walkthrough', character_walkthrough_path %></li>
      </ul>
      </li>
      <li><a href="http://boardgamegeek.com/thread/1011889/final-fan-revised-character-templates-for-coreldr/page/1">mltdown's CorelDraw scripts</li>
    </ul>
  </div>
</div>
